.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
}

.rodape h2{
    font-size: 400;
    font-size: 18px;
    color: var(--branco);
}